

@using GSLogistics.Website.Admin.Models
@model List<Appointment>

<table class="table display-compact table-striped table-bordered" id="tableLogReportOverdue" style="width:100%">
    <thead>
        <tr>
            <th class="text-center">

            </th>
            <th>
                Appt#
            </th>
            <th>
                CustID
            </th>
            <th>
                Ship To
            </th>
            <th>
                Div ID
            </th>
            <th>
                Division
            </th>
            <th>
                PO#
            </th>
            <th>
                Order#
            </th>
            <th>
                Pieces
            </th>
            <th>
                Boxes
            </th>
            <th>
                S. Date
            </th>
            <th>
                S. Time
            </th>
            <th>
                Scac
            </th>
            <th>
                Carrier
            </th>
            <th></th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DivisionNameId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DivisionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PickTicket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pieces)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoxesNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingTimeFriendly)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScaccCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carrier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillOfLading)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pathPOD)
                </td>
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">

    $(document).ready(function () {

        $("#tableLogReportOverdue").DataTable({
            dom: 'lfTrtip',

            paging: false,
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            columns: [
                {

                }
                ,
                {
                    data: 'AppointmentNo'
                }
                ,
                {
                    data: 'CustomerId'
                }
                ,
                {
                    data: 'ShipTo'
                }
                ,
                {
                    data: 'DivisionNameId'
                }
                ,
                {
                    data: 'DivisionName'
                }
                ,
                {
                    data: 'PurchaseOrder'
                }
                ,
                {
                    data: 'PickTicket'
                }
                ,

                {
                    data: 'Pieces'
                }
                ,
                {
                    data: 'BoxesNumber'
                }
                ,
                {
                    data: 'ShipDate'
                }
                ,
                {
                    data: 'ShipTime'
                }
                ,
                {
                    data: 'ScaccCode'
                }
                ,
                {
                    data: 'Carrier'
                }
                ,
                {
                    data: 'BillOfLading',
                    visible: false
                }
                ,
                {
                    data: 'pathPOD',
                    visible: false
                }
            ]
            ,
            select: {
                style: 'multi'
            }
            ,
            "drawCallback": function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();
                var last = null;
                var columna = api.row(0).data.length;
               // var total = new Array();
                // total['Total']
                var groupid = -1;
                var subtotal = new Array();

                api.column(13, { page: 'current' }).data().each(function (group, i) {
                    if (last !== group) {
                        groupid++;
                        val = api.row(api.row($(rows).eq(i)).index()).data();
                        var bol = val['AppointmentNo'];


                        $(rows).eq(i).before(
                        '<tr class="group"><td colspan=7> Appointment #: ' + bol + ' - BOL: ' + group + '</td></tr>'
                        );

                        last = group;
                    }
                    val = api.row(api.row($(rows).eq(i)).index()).data();      //current order index
                    $.each(val, function (index2, val2) {
                        if (index2 == "Pieces" || index2 == "BoxesNumber") {
                            if (typeof subtotal[groupid] == 'undefined') {
                                subtotal[groupid] = new Array();
                            }
                            if (typeof subtotal[groupid][index2] == 'undefined') {
                                subtotal[groupid][index2] = 0;
                            }
                            valore = Number(val2.replace('€', "").replace('.', "").replace(',', "."));
                            subtotal[groupid][index2] += valore;
                        }
                    });

                    console.log(subtotal);

                });
                $('tbody').find('.group').each(function (i,v) {
                    var rowCount = $(this).nextUntil('.group').length;
                    //If we need to check all the orders has a pathPOD this is where we can inject the button instead
                    $(this).find('td:nth-child(2)').append($('<span />', { 'class': 'rowCount-grid' }).append($('<b />', { 'text': ' ( Total Orders '+rowCount+')' })));
                    var subtd = '';
                    //for (var a=2;a<columna;a++)
                    //{
                    //    subtd += '<td> Total'+subtotal[i][a] +'</td>';
                    //}
                    subtd += '<td> <span><strong> ' + subtotal[i]["Pieces"] + '</strong></span></td>';
                    subtd += '<td colspan=6><span><strong>' + subtotal[i]["BoxesNumber"] + '</strong></span></td>';
                    $(this).append(subtd);

                });


            },

        });

       

    });


</script>