

@using GSLogistics.Website.Admin.Models
@model List<Appointment>

<table class="table display-compact table-striped table-bordered" id="tableLogReportOverdue" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th class="text-center">

            </th>
            <th>
                BOL
            </th>
            <th>
                Appt#
            </th>
            <th>
                CustID
            </th>
            <th>
                Ship To
            </th>
            <th>
                S. Date
            </th>
            <th>
                S. Time
            </th>
            <th>
                Scac
            </th>
            <th>
                Carrier
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.BillOfLading)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShipDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingTimeFriendly)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScaccCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Carrier)
                </td>
                
            </tr>
        }
    </tbody>

</table>

<script type="text/javascript">
    function format(d) {
        var count = 0;
        var htmlraw;
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetAppointmentsByBol", "OrderAppointment")',
            contentType: "application/json; charset=utf-8",
            data: { "bol": d },
           
        }).done(function (returnValue) {
            callback(returnValue);
        }).fail(function () {
            callback('failed :(');
        });
        

        //console.log(htmlraw);
      //  return 'Alex';
    //    return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
    //    '<tr>' +
    //        '<td>Full name:</td>' +
    //        '<td>' + d.BillOfLading + '</td>' +
    //    '</tr>' +
    //    '<tr>' +
    //        '<td>Extension number:</td>' +
    //        '<td></td>' +
    //    '</tr>' +
    //    '<tr>' +
    //        '<td>Extra info:</td>' +
    //        '<td>And any further details here (images etc)...</td>' +
    //    '</tr>' +
    //'</table>';
    }

    function loadAjaxInfo(data, callback) {
        console.log('data info');
        console.log(data);
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetAppointmentsByBol", "OrderAppointment")',
            contentType: "application/json; charset=utf-8",
            data: { "bol": data.BillOfLading },

        }).done(function (returnValue) {
            callback(returnValue);
        }).fail(function () {
            callback('failed :(');
        });

    }
    $(document).ready(function () {

       var dt = $("#tableLogReportOverdue").DataTable({
            dom: 'lfTrtip',

            paging: false,
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 1
            }
            ,
            {
                "class":          "details-control",
                "orderable":      false,
                "data":           null,
                "defaultContent": "",
                targets: 0
            },
            ],
            columns: [
                {

                }
                ,
                {

                }
                ,
                {
                    data: 'BillOfLading'
                }
                ,
                {
                    data: 'AppointmentNo'
                }
                ,
                {
                    data: 'CustomerId'
                }
                ,
                {
                    data: 'ShipTo'
                }
                ,
                {
                    data: 'ShipDate'
                }
                ,
                {
                    data: 'ShipTime'
                }
                ,
                {
                    data: 'ScaccCode'
                }
                ,
                {
                    data: 'Carrier'
                }

            ]
            ,
            select: {
                style: 'multi'
            }
            

        });

        var detailRows = [];

        $('#tableLogReportOverdue tbody').on('click', 'tr td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = dt.row(tr);
            var idx = $.inArray(tr.attr('id'), detailRows);

            if (row.child.isShown()) {
                tr.removeClass('details');
                row.child.hide();

                // Remove from the 'open' array
                detailRows.splice(idx, 1);
            }
            else {
                tr.addClass('details');
                loadAjaxInfo(row.data(), function (result) {
                    row.child(result).show();
                });
                

                // Add to the 'open' array
                if (idx === -1) {
                    detailRows.push(tr.attr('id'));
                }
            }
        });

        // On each draw, loop over the `detailRows` array and show any child rows
        dt.on('draw', function () {
            $.each(detailRows, function (i, id) {
                $('#' + id + ' td.details-control').trigger('click');
            });
        });

    });


</script>