@using GSLogistics.Website.Admin.Models
@using GSLogistics.Website.Common

@model LogReportIndex_ViewModel

@{
    ViewBag.Title = "Re-Schedule";
    AjaxOptions ajaxOptions = new AjaxOptions { UpdateTargetId = "panelBody", LoadingElementId = "pnlLogReportOverdue" };

}

@{
    var customers = this.ViewBag.Customers as SelectList;
    var divisions = this.ViewBag.Divisions as SelectList;
}

<style type="text/css">
    div.container {
        width: 80%;
    }

    .blocking {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(255,255,255,.8) url("/8.gif") 50% 50% no-repeat;
    }

    body.loading {
        overflow: hidden;
    }

        body.loading .blocking {
            display: block;
        }

    td.details-control {
        cursor: pointer;
        background: url("../../Content/details_open.png") no-repeat center center;
    }
    tr.details td.details-control {
        background: url('../../Content/details_close.png') no-repeat center center;
    }
</style>

<div class="panel panel-title">
    <h2>Re-Schedule</h2>
</div>


<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        @using (Ajax.BeginForm("GetLogReportOverDue", ajaxOptions))
        {
            <div class="btn-group btn-group-justified">
                 @Html.ActionLink("Back to LogReport", "LogReport", "OrderAppointment", new { @class = "btn btn-info" })
                <a href="#" class="btn btn-info" onclick="reSchedule()">Re-Schedule</a>
                <a href="#" class="btn btn-info" id="btnRefresh">Refresh</a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">Search</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SelectedDay)
                                @Html.DatePicker(x => x.SelectedDay, minDateDays: 0, maxDateDays: 1)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SelectedClientId)
                                @Html.DropDownListFor(m => m.SelectedClientId, customers, "Select", new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SelectedDivisionId)
                                @Html.DropDownListFor(m => m.SelectedDivisionId, divisions, "Select", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        }
        <div class="panel-body" id="panelBody">
            <div id="pnlLogReportOverdue" class="load" style="display:none">
                <p>Loading Data...</p>
            </div>
            @Html.Action("GetLogReportOverdue", Model)
        </div>
    </div>
</div>

<div class="modal fade" id="rescheduleAppointmentsModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dissmiss="modal" aria-hidden="true"></button>
                <h3 class="modal-title">Re-Schedule Appointment</h3>
            </div>
            <div class="modal-body">
                <form role="form" class="validate">
                    <div class="row">
                        <div class="col-md-12">
                            
                            
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewShippingDate)
                                @Html.DatePicker(m => m.NewShippingDate, minDateDays: -2, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NewShippingDate)
                                @Html.DatePicker(m => m.NewReScheduleDate, minDateDays: -2, htmlAttributes: new { @class = "form-control" })

                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewShippingTime)
                                @Html.DateTimePicker(model => model.NewShippingTime, null, jsFormat: "hh:ii p", cFormat: "LT", todayHighlight: false, minView: DateTimePickerView.Hour, startView: DateTimePickerView.Day)
                                @Html.ValidationMessageFor(m => m.NewShippingTime)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.NewShippingTimeLimit)
                                @Html.DateTimePicker(model => model.NewShippingTimeLimit, null, jsFormat: "hh:ii p", cFormat: "LT", todayHighlight: false, minView: DateTimePickerView.Hour, startView: DateTimePickerView.Day)
                            </div>
                            

                        </div>
                       
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" onclick="saveReschedule()" class="btn btn-info">Reschedule</button>
            </div>
        </div>
    </div>
</div>

<div class="blocking"></div>
@Scripts.Render("~/bundles/datetimepicker")
@Scripts.Render("~/bundles/dataTables")
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/DataTables/dataTables.select.min.js"></script>

<script type="text/javascript">

    function reSchedule() {
        var table = $("#tableLogReportOverdue").DataTable();
        var selected = table.rows('.selected').data();
        if (selected.length == 0) {
            toastr.warning("Please select at least an Order");
            return false;
        }
        if (selected.length > 1 ) {
            toastr.warning("Please select only one Bill Of Lading at time");
            return false;
        }
        console.log(selected[0]["ShippingTimeLimit"]);
        $("#NewShippingDate").val(selected[0]["ShipDate"]);
        $("#NewShippingTime").val(selected[0]["ShipTime"]);
        $("#NewShippingTimeLimit").val(selected[0]["ShippingTimeLimit"]);

        if (confirm("Do you want to overwrite the original shipping date ?")) {
            
            $("#NewShippingDate").show();
            $("#NewReScheduleDate").hide();
        }
        else {
            $("#NewShippingDate").hide();
            $("#NewReScheduleDate").show();
            $("#NewReScheduleDate").val(selected[0]["ShipDate"]);

        }

        

        $('#rescheduleAppointmentsModal form').validate();

        $('#rescheduleAppointmentsModal').modal({
            show: true,
            backdrop: "static"
        });

    }

    function saveReschedule() {
        var table = $("#tableLogReportOverdue").DataTable();
        var selected = table.rows('.selected').data();
        if ($('#rescheduleAppointmentsModal form').valid()) {

            var model = {};

            model.AppointmentNumber = selected[0]["AppointmentNo"];
            model.BillOfLading = selected[0]["BillOfLading"];
            model.ShippingDate = $("#NewShippingDate").val();
            model.ShippingTime = $("#NewShippingTime").val();
            model.ShippingTimeLimit = $('#NewShippingTimeLimit').val();
            model.ReScheduleDate = $("#NewReScheduleDate").val();

            $.ajax({
                type: "POST",
                url: '@Url.Action("RescheduleBillOfLading", "OrderAppointment")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(model),
                dataType: "json",
                success: function (result) {
                    if (result.Success == true) {
                        toastr.success('Re-Schedule set successfully');
                        $("#btnRefresh").trigger("click");
                    }
                    else {
                        toastr.error('Re-Schedule failed : ' + result.Error);
                        $("#btnRefresh").trigger("click");
                    }
                }
            });

            $('#rescheduleAppointmentsModal form').modal("hide");
        }
    }

    $(document).ready(function () {

        $(document).ajaxStop(function () {
            $body = $("body");
            $body.removeClass("loading");

        });

        $(document).ajaxStart(function () {
            $body = $("body");
            $body.addClass("loading")
        });


        $("#SelectedClientId").select2();
        $("#SelectedDivisionId").select2();

        $("#btnRefresh").click(function () {
            $(this).closest("form").submit();
        });

        





        $("#SelectedClientId").change(function () {
            var selectedItem = $(this).val();
            var ddDivisions = $("#SelectedDivisionId");
            $.ajax({
                cache: false,
                type: 'GET',
                url: '@Url.Action("GetDivisionByClient","OrderAppointment")',
                data: {"customerId": selectedItem },
                success: function (data) {
                    ddDivisions.html('');
                    $.each(data, function (id, option) {
                        ddDivisions.append($('<option></option>').val(option.Id).html(option.Name));

                    });
                    $("#btnRefresh").trigger('click');


                }
                ,  error: function (xhr, ajaxOptions, thrownError) {
                    toastr.Error('Failed to get Divisions');
                }
            });


        });



        $("#SelectedDivisionId").change(function () {
            $("#btnRefresh").trigger('click');
        });



    });



</script>

@Styles.Render("~/Content/datetimepicker")
@Styles.Render("~/Content/datatables")
