@using GSLogistics.Website.Admin.Models
@model List<Appointment>
    <style type="text/css">
        .red {
              background-color: red !important;
        }

    </style>
    <table class="table display-compact table-striped table-bordered" id="tableappt" width="100">
        <thead>
            <tr>
                <th class="text-center">

                </th>
                <th>
                    CustID
                </th>
                <th>
                    Customer
                </th>
                <th>
                    PO#
                </th>
                <th>
                    Order#
                </th>
                <th>
                    Appt#
                </th>
                <th>
                    Pieces
                </th>
                <th>
                    Boxes
                </th>
                <th>
                    S. Date
                </th>
                <th>
                    S. Time
                </th>
                <th>
                    Scac
                </th>
                <th>
                    Carrier
                </th>
                <th>
                    Ship To
                </th>
                <th style="visibility:hidden"></th>
                <th style="visibility:hidden"></th>

            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th>PO#</th>
                <th>ORDER#</th>
                <th>APPT#</th>
                <th>TotalPieces</th>
                <th>TotalBoxes</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th style="visibility:hidden"></th>
                <th style="visibility:hidden"></th>
            </tr>
        </tfoot>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PurchaseOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PickTicket)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AppointmentNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pieces)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BoxesNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShippingTimeFriendly)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ScaccCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Carrier)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShipTo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Posted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    
                </tr>
            }
        </tbody>

    </table>

<script type="text/javascript">
    $(document).ready(function () {

        $("#tableappt").DataTable({
            dom: 'lfTrtip',
            "displayLength": 25,
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            },
             {
                 "width" : "80px", "targets": 3
             }
            ],
            columns: [
                {
                    
                }
                ,
                {
                    data : 'CustomerId'
                }
                ,
                {
                    data: 'CustomerName'
                }
                ,
                {
                    data: 'PurchaseOrder'
                }
                ,
                {
                    data: 'PickTicket'
                }
                ,
                {
                    data: 'AppointmentNo'
                }
                ,
                {
                    data: 'Pieces'
                }
                ,
                {
                    data: 'BoxesNumber'
                }
                ,
                {
                    data: 'ShipDate'
                }
                ,
                {
                    data: 'ShipTime'
                }
                ,
                {
                    data: 'ScaccCode' 
                }
                ,
                {
                    data: 'Carrier'
                }
                ,
                {
                    data: 'ShipTo'
                }
                ,
                {
                    data: 'Posted',
                    visible: false
                }
                ,
                {
                    data: 'DateAdded',
                    visible: false

                }
            ],
            select: {
                style: 'multi'
            }
            ,
            "createdRow": function (row, data, dataIndex) {
                if (data['Posted'] == "True") {
                    $(row).css("background-color", "#ffb3b3");
                }
            }

           

        });

        $('#tableappt tfoot th').each(function () {
            var title = $(this).text();
            if (title == "PO#" || title == "ORDER#" || title == "APPT#") {


                $(this).html('<input type="text" style="width:80px" placeholder="Search ' + title + '" />');
            }
            if (title == "TotalBoxes") {
                $(this).html('<label id="totalBoxes">0</label>');
            }
            if (title == "TotalPieces") {
                $(this).html('<label id="totalPieces">0</label>');
            }
        });

        var tableappt1 = $("#tableappt").DataTable();

        tableappt1.on('select', function (e, dt, type, indexes) {
            if (type === 'row') {
                //var data = tableappt1.rows(indexes).data().pluck('BoxesNumber');
                //console.log(data);
                var total = sumColumn('BoxesNumber');
                console.log(total);
                $('#totalBoxes').html(total);
                var totalp = sumColumn('Pieces');
                $('#totalPieces').html(totalp);
            }
        });

        tableappt1.on('deselect', function (e, dt, type, indexes) {
            if (type === 'row') {
                var total = sumColumn('BoxesNumber');
                console.log(total);
                $('#totalBoxes').html(total);
                var totalp = sumColumn('Pieces');
                $('#totalPieces').html(totalp);
            }
        });

        function sumColumn(columnName) {
            var selected = tableappt1.rows('.selected').data();
            var totalBoxes = 0;
            for (var i = 0; i < selected.length; i++) {

                totalBoxes = totalBoxes + Number(selected[i][columnName]);
            }
            return totalBoxes;
        }



        

        //table.columns().every(function () {
        //    var that = this;

        //    $('input', this.footer()).on('keyup change', function () {
        //        if (that.search() !== this.value) {
        //            that
        //                .search(this.value)
        //                .draw();
        //        }
        //    });
        //});
        // Apply the search
        tableappt1.columns().every( function () {
            var column = this;

            $('input', this.footer()).on('keyup change', function () {
                column
                    .search(this.value)
                    .draw();
            } );
        });

    });
</script>
